.main{
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    
    
}
.data-preview h1{
    color: red;
}
.data-preview {
    box-shadow: 0 0 0 1px black;
    justify-content: left;
    display: grid;
    
}

